@charset "UTF-8";


footer {
	position: absolute;
	bottom: 0;
  width: 100%;
  height: 30px; 
  text-align: center;
  padding: 10px 0;
  background-color: none;
  box-shadow: 0px -1px 10px -3px gray ;
}
.footer-text {
  color: #fff;
}