@charset "UTF-8";


.container {
	max-width: 1200px;
	padding:0 40px;
	margin:0 auto;
	
}

.header_a {
	color:#fff;
	background: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
}

.header_a > .container {
	height:70px;
	display: flex;
	align-items: center;
}

.area_logo_header .logo{
	display: block;
}

.area_logo_header .logo img {
	height: 60px;
	vertical-align: bottom;
}

.area_nav_header {
	margin-left: auto;
	display: flex;

}

.list_nav_header {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}

.list_nav_header2 {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.list_nav_header > li + li {
	margin-left: 30px
}

.list_nav_header li {
	color: black;
	display: flex;
	align-items: center;
}

.list_nav_header li a {
	color: black;
	display: flex;
	align-items: center;
}




.area_nav_header2 {

	display: flex;
	justify-content:flex-end
	

}