@charset "UTF-8";


				
				.panel_header {
/*   width: 200px; */
/* /*   max-width: 90%; */ */
/* /*   margin: 10px auto; */ */
/*   padding: 20px; */
/*   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
/*           box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
/*   background-color: white; */
   text-align: center;
        position: relative;
     z-index: 900;
}


.js_open_modal {
	   text-align: center;
}
.btn-area {
  display:inline-block;
  margin:auto;
  text-align:center;
}
.modal-panel > js-close-modal {
  display:inline-block;
  text-align:center;
  width:100%;
}
.modal-panel-back {
  position: fixed;
  width: 100%;
  height: 100%;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(200,200,200,.5);
}
.modal-panel-back.disable {
  display: none;
}
.modal-panel {
  width: 600px;
  background-color: white;
  padding: 30px;
  margin: 100px auto;
    color: black;
     text-align: center;
}

.modal-panel > p {
	text-align: left;
	display: inline-block;
}

.modal-panel > p > p {
	text-align: right;
	display: inline-block;
}
